.container{
    height: 90vh;
    width: 100%;
    left: 0;
    display: flex;
    overflow: hidden;
    background-color: #0f1724;
}
.container .image{
    left: 0;
    height: 100%;
    width: 60%;
    transform: skew(30deg);
    overflow: hidden;
}

.container .image img{
    height: 100%;
    width: 100%;
    transform: skew(-30deg);
}

.container .intro-text{
    left: 0;
    height: 100%;
    width: 40%;
    color: white;
}

.container .intro-text h1{
    padding-top: 3%;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 500;
}
.container .intro-text h1 b{
    font-weight: 800;
    letter-spacing: 1px;
}
.container .intro-text h3{
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 140%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.container .intro-text h1,
.container .intro-text h3 {
  opacity: 0; 
  transform: translateY(100%); 
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  to {
    opacity: 1; /* End with text fully visible */
    transform: translateY(0); /* End with text moved up */
  }
}
